.normal {
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 15px;
}
.normal:hover {
  color: black;
}

.normal {
  display: flex;
  flex-direction: column;
}
.normal:hover * {
  color: black !important;
}

.normal > div {
  display: flex;
}

.thumbnailContainer {
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  pointer-events: none;
}

.thumbnail {
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}
