.wikiNode {
  background: white;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 15px;
  position: relative;
  display: inline-block;
  font-size: 15pt;
}

.wikiNode * {
  line-height: 20pt;
}

.contentContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wikiNode * {
  color: grey;
}

.wikiNode input {
  margin-right: 0px;
  background: transparent;
}

.wikiNode input:hover,
.wikiNode button:hover {
  color: black;
}

.wikiNode input,
.wikiNode span,
.wikiNode button {
  border-radius: 15px;
  outline: none;
  border: none;
  font-size: inherit;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 5px;
  padding: 5px;
  padding-right: 0px;
  pointer-events: none;
  position: absolute;
  top: -35px;
  right: 0px;
}

.handle {
  background: white;
  /* border: 1px solid #dfdfdf; */
}

.button {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  pointer-events: all;
  z-index: 10;
}

.buttons svg {
  padding: 2px;
  pointer-events: none;
}

.button,
.handle:hover {
  background-color: #dfdfdf;
  border: 1px solid white !important;
}

.button *,
.handle:hover * {
  fill: white;
  width: 100%;
  height: 100%;
}

.button:hover {
  background: white;
}

.button:hover * {
  fill: darkgrey;
}

.button svg {
  height: 100%;
  width: 100%;
}

.button.add {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
}
